Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
libtool
*.pc
config.log
config.status
config.h
config
stamp-h1
depcomp
.cproject
.project
.settings
man/armsoc.4
/aclocal.m4
/autom4te.cache
/build
/compile
/config.guess
/config.h.in
/config.sub
/configure
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/tmp
/debian/xserver-xorg-video-armsoc-dbg
/debian/xserver-xorg-video-armsoc.debhelper.log
/debian/xserver-xorg-video-armsoc.substvars
/debian/xserver-xorg-video-armsoc
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
